/*body{
   background: #ffffff;
}

.home{
   display: flex; 
}


/* Estilos para el encabezado y la barra de navegación */
/*header {
   background-color: #333;
   color: #fff;
   padding: 10px;
 }
 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 nav img {
   height: 50px;
 }*/
 
 /* Estilos para el formulario de inicio de sesión */
/* form {
   margin: 20px;
 }
 label, input {
   display: block;
   margin-bottom: 10px;
 }
 input {
   padding: 5px;
   border-radius: 5px;
   border: none;
   box-shadow: 0 0 5px #ccc;
 }
 button[type="submit"] {
   background-color: #333;
   color: #fff;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }*/
 
 /* Estilos para el pie de página */
 /*footer {
   background-color: #333;
   color: #fff;
   display: flex;
   justify-content: space-around;
   padding: 20px;
 }
 footer div {
   flex-basis: 50%;
 }
 h3 {
   margin-top: 0;
 }
 */